<style type="text/css">
	#header1 h1{
		border-style:none;
		background-color:transparent;
		margin:0px;
		padding:0px;
	}
</style>
<style type="text/css">
	#header1 {
		width: 1000px;
		overflow: auto;
		vertical-align: middle;
		position:relative;
		left:200px;
	}
	#header1 #logo{
		float:left;
		width:189px;
		height:47px;
	}
	#header1 #zoom{
		float:right;
		width:20px;
		height:24px;
		margin-top:15px;
		margin-bottom:15px;
	}
	#header1 #navi_list{
		float:left;
		overflow:hidden;
		width: 500px;
		height: 15px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 140px;
		margin-right: 140px;
		padding: 0px;
	}
	#header1 #navi_list li{
		float:left;
		list-style: none;
		border-right: solid 2px #626262;
		padding-top:0px;
		padding-bottom:0px;
		padding-left:20px;
		padding-right:20px;
		margin:0px;
		height:15px;
	}
	#header1 #navi_list li:last-child{
		border-style: none;
	}
	#header1 a{
		font-family: verdana, sans-serif;
		font-size: 13px;
		color:#626262;
		text-decoration: none;
	}
	#header1 a:hover{
		color:#00aeff;
	}
	#header1 .clearfix{
		clear:both;
    }
    
    <style type="text/css">
	#navigation1 {
		position:relative;
		margin:0px;
		padding:0px;
		left:200px;
		width:1000px;
		overflow: auto;
	}
	#navigation1 h2{
		font-family: verdana, sans-serif;
		font-weight: normal;
		font-size: 36px;
		color: #626262;
		float:left;
	}
	#navigation1 #navi_list{
		list-style: none;
		float:left;
	}
	#navigation1 a{
		font-family: verdana, sans-serif;
		font-size: 13px;
		color:#626262;
		text-decoration: none;
	}
	#navigation1 a:hover{
		color:#00aeff;
	}
	#navigation1 ul{
		margin-left:20px;
		margin-right:20px;
	}
	#navigation1 li{
		float:left;
		padding-left:20px;
		padding-right:20px;
		padding-top:0px;
		padding-bottom:0px;
		margin:0px;
	}
</style>

</style>
